.navbar {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 8px 12px;
}

.navbar a {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(245 222 222);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ff4a17;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: black;
    padding: 10px;
    justify-content: center;
}

#home {
    background-color: rgb(196, 190, 190);
    height: 800px;
    width: 500;
}

#about {
    background-color: #aaaaaa;
    height: 800px;
    width: 500;
}

#contact {
    background-color: rgb(126, 126, 126);
    height: 800px;
    width: 500;
}

#service {
    background-color: rgb(77, 77, 77);
    height: 800px;
    width: 500;
}

#header .logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
    left: 180px;
    position: absolute;
}

#header .logo a {
    color: #8cf4ff;
    font-family: 'Train One', cursive;
}

#header .logo a span {
    color: tomato;
}

#home .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
    transform: translate(0);
}

#home h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 550px;
    color: rgb(7, 6, 6);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#home p {
    color: #564848;
    margin-bottom: 50px;
    font-size: 30px;
    position: fixed;
    top: 294px;
    left: 570px;
}

#home p span {
    color: #6f1703;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid rgba(85, 46, 228, 0.466);
}

#about h1 {
    text-align: center;
    display: block;
    line-height: 138px;
    font-size: 40px;
    font-family: 'Kiwi Maru', serif;
}

#contact h1 {
    text-align: center;
    display: block;
    line-height: 138px;
    font-size: 40px;
    font-family: 'Kiwi Maru', serif;
}

#service h1 {
    text-align: center;
    display: block;
    line-height: 138px;
    font-size: 40px;
    font-family: 'Kiwi Maru', serif;
}